version: "3"

volumes:
  postgres-data:
  kestra-data:

networks:
  kestra:

services:
  postgres:
    image: postgres:15
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: kestra
    networks:
      - kestra
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kestra"]
      interval: 10s
      timeout: 5s
      retries: 5

  kestra:
    image: kestra/kestra:latest
    command: server local
    user: "root"     
    privileged: true   
    pull_policy: always
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - kestra-data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
      - ./shared:/shared
    environment:
      KESTRA_CONFIGURATION: |
        kestra:
          server:
            basic-auth:
              enabled: false
          jdbc:
            type: postgres
            url: jdbc:postgresql://postgres:5432/kestra
            username: kestra
            password: kestra
    ports:
      - "8080:8080"
    networks:
      - kestra